body{
    margin: 0;
    background: rgb(21, 19, 18);
    font-family: "Poppins", sans-serif;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: #151312;
  border-radius: 5px;
}
body::-webkit-scrollbar-thumb {
  background: #cc1616;
  border-radius: 5px;
}
*{
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*  Header styling */
#header {
    padding: 25px;
}
.header_menus {
    background: rgb(255 255 255 / 3%);
    max-width: fit-content;
    margin: auto;
    border-radius: 16px;
    padding: 6px 20px 6px;
    display: flex;
    gap: 22px;
    align-items: center;
}
.header_menus a {
    padding: 5px;
    display: flex;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    transition: all 0.3s ease;
    &:hover{
        background: #a12323;
    }
}
.header_menus a::after {
    content: "Home";
    position: absolute;
    background: rgb(255 255 255 / 3%);
    border-radius: 9px;
    font-size: 12px;
    padding: 2px 7px;
    left: 50%;
    bottom: 0px;
    transition: all 0.2s ease 0.1s;
    opacity: 0;
    transform: translateX(-50%);
    will-change: transform;
    transform-origin: 50% 50% 0px;
    z-index: -1;
}
.header_menus a.projects::after{
    content: "Projects";
}
.header_menus a.experience::after{
    content: "Experience";
}
.header_menus a.tools::after{
    content: "Tools";
}
.header_menus a.thoughts::after{
    content: "Tools";
}
.header_menus a:hover::after{
    max-height: fit-content;
    bottom: -30px;
    opacity: 1;
    background: rgb(255 255 255 / 10%);
}


/*  Home page main styling  */
.page-width{
    max-width: 1140px;
    padding: 0 40px;
    margin: auto;
}
.portfolio_details{
    display: flex;
    gap: 50px;
    padding-top: 60px;
}
.about_developer {
    max-width: 344px;
    background: white;
    border-radius: 16px;
    padding: 30px 20px;
    position: relative;
    height: fit-content;
    position: sticky;
    top: 40px;
    scroll-behavior: smooth;
}
.frame_design_01{
    position: absolute;
    top: 2px;
    left: 0px;
    width: 190px;
    height: 100px;
    z-index: 1;
}
.auther_image{
    max-width: 240px;
    max-height: 294px;
    overflow: hidden;
    border-radius: 16px;
    margin: auto;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        vertical-align: middle;
        filter: blur(15px);
        transition: all 0.4s ease-in-out;
        &:hover{
            filter: blur(8px);
            cursor: none;
        }
    }
}
.auther_name {
    margin-block: 24px 10px;
    color: black;
    text-align: center;
    font-size: 30px;
}
.auther_dets {
    font-size: 18px;
    font-weight: 500;
    color: rgb(106, 107, 110);
    text-align: center;
    line-height: 120%;
}
.profession{
    font-size: 94px;
    text-transform: uppercase;
    line-height: 105%;
    .highlight{
        color: #363334;
    }
}
.details .detls {
    color: #707070;
    font-size: 18px;
    font-weight: 400;
    max-width: 480px;
    line-height: 135%;
    padding-top: 10px;
}
.works_experience{
    display: flex;
    gap: 40px;
    padding-top: 60px;
    .num {
        font-size: 70px;
        font-weight: 600;
        color: white;
        line-height: 120%;
    }
    div{
        color: #707070;
        text-transform: uppercase;
        line-height: 116%;
        font-size: 16px;
    }
}
.recent_works{
    padding-top: 100px;
}
















/*  Footer Styling  */


footer {
    display: flex;
    justify-content: center;
    padding-block: 140px 80px;
    color: var(--text-color);
    font-weight: 200;
    letter-spacing: 1px;
    .highlight{ 
        color: #f72c2c;
        font-weight: 600;
    }
}
.proj_image{
    max-width: fit-content;
    img {
        width: 130px;
        height: 134px;
        object-fit: cover;
        vertical-align: middle;
        border-radius: 8px;
    }
}
.recent_projects {
    padding-top: 24px;
    .project {
        position: relative;
        display: flex;
        padding: 18px 20px;
        border-radius: 16px;
        gap: 20px;
        align-items: center;
        text-decoration: none;
        transition: all 0.3s ease-in;
        &:hover{
            background: #37333442;
        }
    }
    .proj_title {
        font-size: 26px;
    }
    .about_proj {
        color: rgb(131, 130, 130);
    }
    .project_arrow {
        position: absolute;
        top: 20px;
        right: 20px;
        rotate: -45deg;
        transition: all 0.4s ease-in-out;
    }
    .project:hover{
        .project_arrow{
            top: 12px;
            right: 12px;
        }
    }
}





/*   Mobile styings  */

@media(max-width:768px){
    #header{
        position: sticky;
        padding: 20px 0;
        top: 1px;
        z-index: 10;
        .header_menus{
            backdrop-filter: blur(10px);
            background-color: rgba(58, 57, 57, 0.356);
            a{
                img{
                    width: 20px;
                }
            }
        }
    }
    .portfolio_details{
        flex-direction: column;
        padding: 0 20px;
    }
    .about_developer{
        width: 100%;
        max-width: 100%;
        position: relative;
        top: 0;
        padding: 18px 16px 30px;
    }
    .auther_image{
        max-width: 100%;
        max-height: 100%;
    }
    .profession{
        font-size: 58px;
        text-align: center;
    }
    .details .detls{
        text-align: center;
        font-size: 14px;
    }
    .works_experience {
        padding-top: 20px;
        text-align: center;
        justify-content: center;
        div{
            font-size: 14px;
        }
        .num{
            font-size: 30px;
        }
    }
    .recent_works{
        padding: 60px 20px 0;
        font-size: 42px;
    }
    .proj_image{
        img{
            width: 80px;
            height: 80px;
        }
    }
    .recent_projects{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .project{
            padding: 8px 10px;
            background: #37333442;
            border-radius: 10px;
            gap: 10px;
            .proj_title {
                font-size: 18px;
                font-weight: 500;
            }
            .about_proj{
                font-size: 14px;
            }
            .project_arrow{
                top: 6px;
                right: 8px;
                svg{
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }
    footer{
        padding: 1rem 30px 2rem;
        margin-top: 2rem;
        text-align: center;
        font-size: 14px;
        border-top: 1px solid rgba(255, 255, 255, 0.199);
    }

}