body{
    margin: 0;
    background: rgb(21, 19, 18);
    font-family: "Poppins", sans-serif;
}
*{
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*  Header styling */
#header {
    padding: 25px;
}
.header_menus {
    background: rgb(255 255 255 / 3%);
    max-width: fit-content;
    margin: auto;
    border-radius: 16px;
    padding: 6px 20px 6px;
    display: flex;
    gap: 22px;
    align-items: center;
}
.header_menus a {
    padding: 5px;
    display: flex;
    text-decoration: none;
    font-size: 14px;
    position: relative;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    transition: all 0.2s ease;
    &:hover{
        background: #a12323;
    }
}
.header_menus a::after {
    content: "Home";
    position: absolute;
    background: rgb(255 255 255 / 3%);
    border-radius: 9px;
    font-size: 12px;
    padding: 2px 7px;
    left: 50%;
    bottom: 18px;
    transition: all 0.3s ease 0.1s;
    opacity: 0;
    transform: translateX(-50%);
    will-change: transform;
    transform-origin: 50% 50% 0px;
    max-height: 0px;
    z-index: -1;
}
.header_menus a.projects::after{
    content: "Projects";
}
.header_menus a.experience::after{
    content: "Experience";
}
.header_menus a.tools::after{
    content: "Tools";
}
.header_menus a.thoughts::after{
    content: "Tools";
}
.header_menus a:hover::after{
    max-height: fit-content;
    bottom: -30px;
    opacity: 1;
    background: rgb(255 255 255 / 10%);
}


/*  Home page main styling  */
.page-width{
    max-width: 1140px;
    padding: 0 40px;
    margin: auto;
}
.portfolio_details{
    display: flex;
    gap: 50px;
    padding-top: 60px;
}
.about_developer {
    max-width: 344px;
    background: white;
    border-radius: 16px;
    padding: 30px 20px;
    position: relative;
}
.frame_design_01{
    position: absolute;
    top: 2px;
    left: 0px;
    width: 190px;
    height: 100px;
    z-index: 10;
}
.auther_image{
    max-width: 240px;
    max-height: 294px;
    overflow: hidden;
    border-radius: 16px;
    margin: auto;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        vertical-align: middle;
        filter: blur(15px);
        transition: all 0.4s ease-in-out;
        &:hover{
            filter: blur(8px);
            cursor: none;
        }
    }
}
.auther_name {
    margin-block: 24px 10px;
    color: black;
    text-align: center;
    font-size: 30px;
}
.auther_dets {
    font-size: 18px;
    font-weight: 500;
    color: rgb(106, 107, 110);
    text-align: center;
    line-height: 120%;
}
.profession{
    font-size: 94px;
    text-transform: uppercase;
    line-height: 105%;
    .highlight{
        color: #363334;
    }
}
.details .detls {
    color: #707070;
    font-size: 18px;
    font-weight: 400;
    max-width: 480px;
    line-height: 135%;
    padding-top: 10px;
}
.works_experience{
    display: flex;
    gap: 40px;
    padding-top: 60px;
    .num {
        font-size: 70px;
        font-weight: 600;
        color: white;
        line-height: 120%;
    }
    div{
        color: #707070;
        text-transform: uppercase;
        line-height: 116%;
        font-size: 16px;
    }
}
.recent_works{
    padding-top: 100px;
}
















/*  Footer Styling  */


footer {
    display: flex;
    justify-content: center;
    padding-block: 140px 80px;
    color: var(--text-color);
    font-weight: 200;
    letter-spacing: 1px;
    .highlight{ 
        color: rgb(253, 53, 46);
        font-weight: 500;
    }
}